.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded::selection,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #e1111c;
}
.mat-expansion-panel .mat-expansion-panel-header-title {
  color: white;
  align-items: center;
  font-weight: 400 !important;
}

.mat-expansion-panel .mat-expansion-panel-header-description {
  font-weight: lighter;
  color: white;
}

.mat-expansion-panel-header {
  color: white;
  background-color: rgba(#3e3e3e, 1);
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background-color: rgba(#e1111c, 1);
}

.mat-expansion-panel.mat-expanded
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background-color: rgba(#e1111c, 1);
}

.mat-expansion-panel:not(.mat-expanded) {
  border-radius: 8px !important;
  margin: 8px 0;
}

.mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
  border-radius: 8px 8px 0 0 !important;
}
span {
  margin-left: 5px;
  font-size: 18px;
}
